/************************** home *******************************/
.app-header {  /*background-color: #3588ea;*/  }
@media (min-width: 0px) and (max-width: 991px)
{
    .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
        margin-bottom: 10px;
    }
    .app-header {  /*background-color: #fff; */ }
}
body:not([data-kt-app-toolbar-fixed=true]) .app-toolbar {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); */
    /* background-color: #fff; */
}
.card.card-statistic-1, .card.card-statistic-2 {
    display: inline-block;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    /* background-color: #fff;*/
    border-radius: 3px;
    border: none;
    position: relative;
    
}
.card-icon  i{font-size: 22px;  color: #fff;}
.card.card-statistic-1 .card-icon, .card.card-statistic-2 .card-icon {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 3px;
    line-height: 80px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.btn-primary, .btn-primary.disabled {/* box-shadow: 0 2px 6px #3e97ff !important; */}
.card.card-statistic-1 .card-header, .card.card-statistic-2 .card-header { padding-top: 25px;}
.card.card-statistic-1 .card-header, .card.card-statistic-2 .card-header {
    border-color: transparent;
    padding-bottom: 0;
    height: auto;
    min-height: auto;
    display: block;
}
.card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
    align-items: center;
}
.card.card-statistic-1 .card-header h4 {  margin-bottom: 0; }
.card.card-statistic-1 .card-header h4, .card.card-statistic-2 .card-header h4 {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .5px;
}
.card.card-statistic-1 .card-header h4, .card.card-statistic-2 .card-header h4 {
    line-height: 1.2;
    color: #98a6ad;
}
.card.card-statistic-1 .card-body, .card.card-statistic-2 .card-body {
    font-size: 20px;
    font-weight: 700;
    color: #6d718f;
    padding-bottom: 0;
}
.card.card-statistic-1 .card-body, .card.card-statistic-2 .card-body {  padding-top: 0;}
.avatar-item img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid #a9a1a1;
    padding: 3px;
}
.avatar-item .avatar-badge {
    position: absolute;
    bottom: -5px;
    right: 0;
    background-color: #f4f4f4;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
}
.avatar-badge i{color: #000;}
.int_curpoin {cursor: pointer;}
.avatar-item {
    position: relative;
    margin-bottom: 20px;
    /* left: 0; */
    width: fit-content;
}
.statistic-details {
    display: flex ;
    flex-wrap: wrap;
}
.statistic-details .statistic-details-item {
    flex: 1;
    padding: 17px 10px;
    text-align: center;
}
.statistic-details .statistic-details-item .detail-value {
    font-size: 18px;
    font-weight: 700;
}
.statistic-details .statistic-details-item .detail-name {
    font-size: 12px;
    margin-top: 5px;
    color: #34395e;
    letter-spacing: 0.3px;
}
.card-header-action i{/* color:#000; */}
.list-unstyled-border li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.media .media-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #34395e;
}
.media .media-title a {
    font-weight: inherit;
    color: var(--bs-gray-700) !important;
}
.text-small {
    font-size: 12px;
    line-height: 20px;
}
.text-muted {  color: #98a6ad !important; }
.bullet {
    display: inline;
    margin: 0 4px;
}
.bullet {
    display: inline-block;
    background-color: var(--bs-bullet-bg-color);
    border-radius: 6px;
    width: 4px;
    height: 4px;
    flex-shrink: 0;
}
.list-unstyled-border li {
    border-bottom: 1px solid var(--bs-card-border-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.text-bg-danger {
    color: #fff !important;
    background-color: RGBA(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
}
.text-small {
    font-size: 12px;
    line-height: 20px;
}
.media .media-right {
    float: right;
    color: #6777ef;
    font-weight: 600;
    font-size: 16px;
}
.text-muted {
    color: #98a6ad !important;
}
.card .card-header .btn {
    margin-top: 1px;
    padding: 9px 21px !important;
}
.card .card-header h4 + .card-header-action .btn, .card .card-header h4 + .card-header-form .btn {
    font-size: 14px;
    border-radius: 30px !important;
}
.me-3 {  margin-right: 1rem !important; }
.badge {
    vertical-align: middle;
    padding: 8px 14px;
    font-weight: 500;
    letter-spacing: .3px;
    border-radius: 30px;
    font-size: 12px;
}
.card .card-header h4 {
    font-size: 16px;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
}
.btn.btn-lg {
    padding: .55rem 1.5rem;
    font-size: 12px;
}
.btn-round {
    border-radius: 30px;
    padding-left: 34px;
    padding-right: 34px;
}

/******************************** courses *****************************/
.article {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    /* background-color: #fff; */
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #7e7f8326;
}
.article.article-style-c .article-header {
    height: 233px;
}
.article .article-header {
    height: 170px;
    position: relative;
    overflow: hidden;
}
.article .article-details {
    /* background-color: #fff; */
    padding: 20px;
    line-height: 24px;
}
.article.article-style-c .article-details .article-category a {
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
    /* color: #34395e; */
    color: var(--bs-text-gray-500) !important;
}
.article.article-style-c .article-details .article-title {
    margin-bottom: 10px;
    margin-top: 10px;
}
.article.article-style-c .article-user {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.article-footer {
    margin-top: 20px;
}
.article.article-style-c .article-details .article-title h2 {
    line-height: 22px;
    font-weight: 500 !important;
}
.article.article-style-c .article-details .article-title a {
    font-size: 16px;
    font-weight: 600;
    color: var(--bs-text-gray-900) !important;
}
.article.article-style-c .article-user img {
    border-radius: 50%;
    float: left;
    width: 45px;
    margin-right: 15px;
    height: 45px;
    border: 1px solid #c7c7c7;
    padding: 2px;
}
.text-job {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    /* color: #34395e; */
}
.article.article-style-c .article-user .user-detail-name a {
    font-weight: 700;
    color: var(--bs-primary);
}
div#layout_content div.row {
    margin-right: 0px;
    margin-left: 0px;
}
.hundred-percent {  width: 100%;   }
.article .article-header .article-image {
    background-color: #fbfbfb;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.dropdown-item.has-icon i {
    margin-top: -1px;
    font-size: 13px;
    margin-right: 10px;
}
.text-light, .text-light-all *, .text-light-all *:before, .text-light-all *:after {  color: #e3eaef !important;}

.text-light   {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    position: absolute;
    top: 10px;
    right: 11px;
}
.select2-container {
    /*z-index: 1060;*/
}

.select2-container {
    width: 100% !important;
}.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-results__option[aria-selected="true"], .select2-container--default .select2-results__option--highlighted[aria-selected] {
     background-color: #6777ef;
     color: #fdfafa;
 }.select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 42px !important;
  }
.media img{
    border: 1px solid #ccc5c5;
    padding: 2px;
}
.mb-3 {margin-bottom: 1.2rem !important;}

.table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid var(--bs-border-color)!important;
    white-space: nowrap;
}

.table td, .table th {
    border: 1px solid var(--bs-border-color)!important;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
}

.table .btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    padding: 0.4rem .9rem !important;
    letter-spacing: .5px;
}
.table .btn > i {
    margin-left: 0 !important;padding-right: 0;
}
.table th {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    /* background-color: #ddd; */
    color: white;
    font-weight: 600 !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: .25em;
}.dataTables_wrapper .dataTables_paginate .paginate_button {
     box-sizing: border-box;
     display: inline-block;
     min-width: 1.5em;
     padding: .5em 1em;
     margin-left: 2px;
     text-align: center;
     text-decoration: none !important;
     cursor: pointer;
     color: inherit !important;
     border: 1px solid transparent;
     border-radius: 2px;
     background: transparent;
     color: var(--bs-gray-700) !important;
 }.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
      color: inherit !important;
      border: 1px solid rgba(0, 0, 0, 0.3);
      background-color: rgba(0, 0, 0, 0.05);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
      background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
      background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
      background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
      background: -o-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
      background: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  }.dataTables_wrapper .dataTables_info {
       clear: both;
       float: left;
       padding-top: .755em;
   }.dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        color: var(--bs-gray-700) !important;
    }.dataTables_wrapper .dataTables_filter input {
         border: 1px solid var(--bs-border-color)!important;
         border-radius: 3px;
         padding: 5px;
         background-color: transparent;
         color: inherit;
         margin-left: 3px;
     }
#customers tr:nth-child(even){background-color: #f2f2f2;}
div.dt-buttons>.dt-button, div.dt-buttons>div.dt-button-split .dt-button {
    padding: .7em 1.4em !important;
    border-radius: 6px !important;
    color: var(--bs-light-inverse);
    border-color: var(--bs-light);
    background-color: var(--bs-light);
    color: #fdfdff;
    border-color: var(--bs-gray);
    background-color: var(--bs-gray);
} .table img {
      width: 55px;
      height: 55px;
      border: 1px solid #c7c4c4;
      padding: 2px;
  }span.required {
       color: red;
       font-weight: bold;
   }.required:after {
        display: none;
    }
.requiredinput {
    color: #f1416c;
    margin-top: 2px;
}
.table td {
    border: 1px solid var(--bs-border-color) !important;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    color: var(--bs-gray-700) !important;
}
.ck.ck-editor__main>.ck-editor__editable {

    background-color: var(--bs-body-bg) !important;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border-color: var(--ck-color-base-border);

}